/*!
 * Roots 6.5.2
 */

@import "mixins";
@import "vars";
@import "typography";
@import "helpers";

//THIRD PARTY
$bootstrap-sass-asset-helper: false;
@import "bootvars";
@import "bootstrap/bootstrap";
@import "../vendor/fontawesome/css/font-awesome.min.css"; //change to sass when deploying
@import "../vendor/RRSSB/css/rrssb.css"; //change to sass when deploying
@import "bootmods";

@import "modules/faq";
@import "modules/lists";
@import "modules/helpout";
@import "modules/mission";
@import "modules/article";
//@import "modules/forms";

@import "pages/home";
@import "pages/linkSubmit";
@import "pages/network";

@import "states";

/* ==========================================================================
   Base
   ========================================================================== */

html {
  background: $background-color url(../img/body-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
body {
  background: none;
  color: $text-color;
  font-family: $sans-serif;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  text-transform: uppercase;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.navbar-header {
  position: relative;
}
.navbar-brand {
  background: url(../img/valhalla-logo-150.png) no-repeat center center;
  background-size: cover;
  text-indent: -9999px;
  font-size: 18px;
  position: absolute;
  height: 116px;
  top: -30px;
}

.navbar-asgard {
  @include asgard_gradient();
  box-shadow: 0 1px 5px #000;
  border-top: 1px solid #3d4456;
  border-bottom: 1px solid #1d222b;
  margin-bottom: 0;

  .navbar-nav>li>a {
    font-family: $font-header;
    text-transform: uppercase;
    color: white;

    &:hover {
      color: $lime;
    }
  }
  &.navbar-inverse .navbar-nav>.active>a {
    background: none;
    color: $lime;
  }
}

.nav-para {
  background: rgba(0,0,0,0.5);
  height: $nav-para-height;
  line-height: $nav-para-height;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;

  a {
    text-decoration: none;
    text-transform: none;
    color: $blue;
    &:hover {
      color: $lime;
    }
  }

  .dropdown-menu {
    z-index: 1001;
    text-align: center;
  }
}

.navbar-collapse {
  text-align: center;
}

.site-tagline {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: none;
  margin: 3px 0 0 9em;
  @include bp(phone) {
    margin-left: 7em;
  }
  color: $light;
  a {
    color: $light;
    &:hover {
      color: $lime;
      text-decoration: none;
    }
  }
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

//SECTIONS
.s-dark {
  background: $background-color;
  color: $light;
}
.s-light {
  background: $light;
  color: $dark;
}
.s-lime {
  background: $lime;
  color: $dark;
}
.s-green {
  background: $green;
  color: $dark;
}
.s-blue {
  background: $blue;
  color: $dark;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.entry-header {
  text-align: center;
  margin: 3em;
}

.meta-author img {
  border-radius: 50%;
  margin-bottom: 4px;
}

.entry-content {
  overflow: hidden; //in case of long strings that cause horizontal scroll in body
  background-color: white;
  color: $dark;
  padding: 2em;
  box-shadow: 0 0 20px rgba(0,0,0,0.9);

  img {
    @extend .img-responsive;
  }
}

.the-video {}

.the-image {
  img {
    @extend .img-responsive;
  }
}

a[rel="next"],
a[rel="prev"] {
  font-size: 2em;
  display: inline-block;
}
a[rel="next"] {
  float: right;
}
a[rel="prev"] {
  float: left;
}
@include bp(phone) {
  a[rel="next"],
  a[rel="prev"] {
    font-size: 4em;
    position: fixed;
    display: block;
    width: 100px;
    text-align: center;
    top: 40%;
    float: none;
  }
  a[rel="next"] {
    right: 3px;
  }
  a[rel="prev"] {
    left: 3px;
  }
}

.share-post {
  background: $light;
  position: relative;
  z-index: 2;
  padding: 4px 0;
}


.media-header {
  margin-top: 4em;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

.media-widget {
  margin-bottom: 15px;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: $screen-sm-min) { }

@media (min-width: $screen-md-min) { }

@media (min-width: $screen-lg-min) { }
