/*********************
FAQ
*********************/
.faq {
  position: relative;
}

.nav-faq {
  width: 100%;
  max-width: 360px;
  @include asgard_gradient();
  box-shadow: 0 1px 5px #000;
  border-radius: 4px;
  color: #e8ebee;
  overflow: hidden;

  &.stuck {
    position: fixed;
    top: 20px;
  }
}
.nav-faq ol {
  display: none;
  margin: 0;
  margin: 1em 3em;
  padding: 0;
  font-size: 0.9em;
}
.nav-faq > ol {
  display: block;
  list-style-type: none;
  margin: 0;
  font-size: 1em;
}
.nav-faq a {
  display: block;
  text-decoration: none;
  color: #e8ebee;
}
.nav-faq > ol > li > a {
  padding: 6px 8px;
}
.nav-faq > ol > li > a:hover {
  background: #1d222b;
}
.nav-faq > ol > li > a > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  color: darkslategrey;
  background: greenyellow;
  margin-right: 1em;
  font-size: 10px;
  font-weight: 700;
}
.nav-faq > ol > li {
  border-top: 1px solid #3d4456;
  border-bottom: 1px solid #1d222b;
}
.nav-faq > ol > li.active {
  background: #1d222b;
}
.nav-faq > ol > li.active ol {
  display: block;
}
.nav-faq li.active > a,
.nav-faq a:hover {
  color: greenyellow;
}

.faq-parent-section {
  background: white;
  border: 1px solid #ddd;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.faq-parent-section > h1 {
  background: #24272d;
  color: white;
  margin: -40px;
  padding: 20px;
  margin-bottom: 40px;
  font-size: 24px;
}
.faq-parent-section > h1 > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  background: yellowgreen;
  color: darkslategrey;
  vertical-align: middle;
  margin-right: 1em;
}
.faq-child-section {
  margin: 60px 0;
}
.faq-child-section > h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 1em;
  letter-spacing: normal;
  border-top: 1px solid darkslategrey;
  color: darkslategrey;
  line-height: 38px;
}
.faq-child-section > h1 > span {
  position: relative;
  top: -19px;
  background: white;
  padding: 0 0.5em;
}

.faq-grandchild-section {
  border-top: 4px solid #1d222b;
  padding-top: 20px;
  margin: 60px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
}
.faq-grandchild-section > h1 {
  margin-bottom: 20px;
}
