//LISTS

ul {

  &.list-masonry {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: block;
      float: left;
    }

    &.list-masonry-four {

      li {
        width: 23%;
        margin: 1%;
      }

    }
  }


}
